{:paths ["src" "resources"]
 :deps {;; Dear Clojure learner. These are dependencies that are actually useful.
        org.clojure/clojure {:mvn/version "1.10.1"}    ; The Clojure language version.
        datascript {:mvn/version "0.18.12"}            ; Our in-memory database. The same one as Athens uses in the browser.
        org.clojure/data.json {:mvn/version "1.0.0"}   ; JSON (de)serialization
        org.clojure/test.check {:mvn/version "1.0.0"}  ; Generative testing

        ;; These are just for the learning system.
        ;; spicerack {:mvn/version "0.1.6"}
        }}
